# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Ambientes
# ==============================
.conda/
.env/
.env

# ==============================
# MLflow
# ==============================
mlruns/

# ==============================
# DVC
# ==============================
.dvc/cache/
.dvc/tmp/

# ==============================
# Dados (gerenciados por DVC)
# ==============================
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# ==============================
# Modelos
# ==============================
models/*
!models/.gitkeep

# ==============================
# IDE
# ==============================
.vscode/

# ==============================
# Sistema
# ==============================
.DS_Store
Thumbs.db
